.top_section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .top_section {
    height: 20vh;
    padding: 15px;
  }
}
.singer_heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.singer_text {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .singer_heading {
    font-size: 20px;
  }
  .singer_text {
    font-size: 15px;
  }
}

.songs_section {
  background-color: #152850;
  height: 50vh;
  padding: 0px 60px 15px 60px;
}
.play_list_heading_and_search_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .songs_section {
    height: 80vh;
    padding: 0px 10px 10px 10px;
  }
  .play_list_heading_and_search_bar_container {
    flex-direction: column;
  }
}
.songs_section_main_heading {
  font-size: 33px;
  font-family: 'Roboto';
  color: #ffffff;
}
.search_input_element {
  height: 20px;
  width: 250px;
  outline: none;
  border-width: 0px;
  background-color: transparent;
  color: #cbd5e1;
  font-size: 15px;
  font-family: 'Roboto';
}
@media screen and (max-width: 768px) {
  .songs_section_main_heading {
    font-size: 13px;
    font-weight: 450;
  }
  .search_input_element {
    width: 83vw;
  }
}
.songs_list_bg_container {
  height: 35vh;
  list-style-type: none;
  padding: 0px;
  padding-right: 30px;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .songs_list_bg_container {
    height: 65vh;
  }
}
.search_input_container {
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: #cbd5e1;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.not_found_container {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not_found_heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .not_found_heading {
    font-size: 15px;
  }
}
